:root {
    --fg: black;
    --bg: white;
    --afg: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: white;
        --bg: black;
        --afg: lightblue;
    }
}

body {
    color: var(--fg);
    background: var(--bg);
}
a { color: var(--afg); }
h1 { font-size: 1.1em; }
